alabaster==0.7.13
babel==2.12.1
certifi==2023.7.22
idna==2.10
imagesize==1.4.1
jsonpointer==2.4
pyparsing==2.4.7
pytz==2023.3
pyyaml==5.4.1
requests==2.31.0
snowballstemmer==2.2.0
sphinx==6.2.0
sphinx-jsonschema==1.19.1
sphinx-rtd-theme==1.2.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.0.4